<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-title">Welcome to Bright Kids</h1>
            <div class="home-text-wrapper">
                <p>Bright Kids is a thoughtfully designed app that helps children learn through fun and interactive games. Created with
                care for young minds, it combines education and entertainment to nurture curiosity and early development skills.</p>
                <p>Whether you are a parent looking for a safe learning environment or an educator seeking engaging tools, Bright Kids
                offers content tailored for children’s natural learning pace.</p>
                <p>Explore the app today and see how Bright Kids can spark creativity and knowledge in your child’s daily routine.</p>
            </div>
            <a class="home-link" href="https://play.google.com/store/apps/details?id=com.brightfringes.brightkids ">
                <p>Get Bright Kids on Google Play</p>
            </a>
        </div>
        <picture>
            <source srcset="
                        /img/home/desk.png 1x,
                        /img/home/desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                        /img/home/mob.png 1x,
                        /img/home/mob@2x.png 2x
                        " media="(max-width: 1439px)" />
            <img src="/img/home/mob.png" alt="game" loading="lazy" />
        </picture>
    </div>
</section>