.footer{
  background: #6d5439;
  margin-top: -1px;

}
.footer-container {
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fff;
}

.footer-navigation {
  display: flex;
  justify-content: center;
gap: 4px;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
flex-direction: row-reverse;
justify-content: center;
gap: 192px;
font-size: 18px;
  line-height: 1.33333;
  }

}